@media (min-width: 600px) {
    .css-156ompn-MuiContainer-root {
        /* Remove the following lines to remove the specified paddings */
        
    }
}

.css-156ompn-MuiContainer-root {
    /* Remove the following lines to remove the specified paddings */
    width: 100%;
    
    box-sizing: border-box;
   
    display: block;
   
    margin-top: 3rem;
}
