.css-156ompn-MuiContainer-root {
    padding-left: 0 !important; /* Override the left padding */
    padding-right: 0 !important; /* Override the right padding */
    /* Add the following line to ensure paddings are removed at all viewport widths */
    @media (min-width: 690px) and (max-width: 699px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
